@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

.root {
	margin: 0 auto;
	max-width: 1000px;
	background-color: lavender;
}

/*левый*/
.order {
	display: flex;
	Justify-content: space-between;
}

.order-list{
	flex-grow: 2;
}

.order-title {
	position: relative;
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	padding: 0 0 0 35px;
}

.order-table {
	border-top: 4px solid #f1b16b;
	width: 100%;
}

/*правый*/
.order-menu {
	position: relative;
	padding: 35px;
	flex-grow: 1;
}

.order-menu:before {
	content: "";
	position: absolute;
	left: 0;
	height: 225px;
	border-left: 4px dotted red;
}

.menu {
	padding: 0;
}

.menu-item {
	list-style-type: none;
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
	border-bottom: 1px dotted #c5c5c5;
	padding: 13px 0 0 0;
	display: block;
}
/*

.menu-item:after {
    content: "";
    clear: both;
}
*/

.order-button {
	width: 160px;
	height: 55px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	background-color: #f1a552;
	border-radius: 6px;
	border-style: none;
}
