@import url('https://fonts.googleapis.com/css?family=Roboto');

img {
	position: absolute;
	opacity: 0.3;
	z-index: -1
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

.root {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}


/*левый*/

.order {
	display: flex;
	Justify-content: space-between;
}

.order-list {
	position: relative;
	flex-grow: 1;
	padding-right: 34px;
	width: 72.7%;
	box-sizing: border-box;
}

.order-list:after {
	content: "";
	position: absolute;
	top: 22px;
	right: 0px;
	height: 90%;
	border-left: 3px dotted red;
}

.order-title {
	position: relative;
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	padding: 31px 0 10px 34px;
	margin: 0;
}

.order-table {
	border-top: 4px solid #f1b16b;
	width: 100%;
}

th,
td {
	text-align: left;
	padding-left: 6px;
	box-sizing: border-box;
	vertical-align: middle;
}

th:nth-child(1),
td:nth-child(1) {
	padding-left: 31px;
	width: 33.4%;
}

th:nth-child(2),
td:nth-child(2) {
	opacity: 1;
	width: 4.6%;
}

th:nth-child(3),
td:nth-child(3) {
	width: 33%;
}

th:nth-child(4),
td:nth-child(4) {
	width: 13.3%;
	white-space: nowrap;
}

th:nth-child(5),
td:nth-child(5) {
	width: 12.7%;
}

th:nth-child(6),
td:nth-child(6) {
	width: 3%;
}

th {
	opacity: 0.4;
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 46px;
	padding-top: 11px;
}

td {
	font-size: 18px;
	/*	border: 1px solid gray; */
	height: 48px;
	padding-left: 5px;
}

.order-table-select {
	width: 92%;
	border-radius: 4px;
	border: 2px solid #d7d7d7;
	height: 31px;
}

label span {
	/* <-- стилизируем новый */
	height: 10px;
	width: 10px;
	border: 2px solid #d7d7d7;
	border-radius: 3px;
	display: block;
	position: relative;
	background-color: #FFF;
	padding: 3px;
}

[type=checkbox]:checked + span:before {
	content: '';
	background-image: url(checked.png);
	width: 12px;
	height: 12px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	left: 2px;
	top: 4px;
}

select {
	-webkit-appearance: none;
	background-image: url(select.png);
	background-position: 95%, 100%;
	background-repeat: no-repeat;
	line-height: 1em;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;
}

select::-ms-expand {
	display: none;
}

.order-table-input {
	height: 24px;
	width: 50px;
	border: 2px solid #d7d7d7;
	border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

label input {
	display: none;
	/* <--скрываем дефолтный чекбокс */
}
.order-list-add {
	color: #f26c4f;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	margin: 0 auto;
/*	display: block;*/
	text-align: center;
}

.order-list-add-text {
	border-bottom: 1px dotted #f26c4f;
	display: inline-block;
}
/*правый*/
.order-menu {
	padding: 30px 0 0px 39px;
	flex-grow: 1;
	width: 27.3%;
	box-sizing: border-box;
}

.menu {
	padding: 0 0 19px 0;
	margin: 0;
}

.menu-item {
	list-style-type: none;
	line-height: 37px;
}

.menu-item-text {
	list-style-type: none;
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	border-bottom: 1px dotted #c5c5c5;
	padding: 13px 0 0 0;
	text-decoration: none;
}

.order-button {
	width: 160px;
	height: 55px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	background-color: #f1a552;
	border-radius: 6px;
	border-style: none;
}
