@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

.root {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}

/*левый*/

.order {
	display: flex;
	Justify-content: space-between;
}

.order-list {
	position: relative;
	flex-grow: 1;
	padding-right: 34px;
	width: 72.7%;
	box-sizing: border-box;
}

.order-list:after {
	content: "";
	position: absolute;
	top: 22px;
	right: 0px;
	height: 90%;
	border-left: 3px dotted red;
}

.order-title {
	position: relative;
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	padding: 31px 0 10px 34px;
	margin: 0;
}

.order-title:after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0px;
	width: 100%;
	border-bottom: 4px solid #f1b16b;
}

.color-block {
	display: flex;
}

.order-color-common {
	padding-left: 34px;
	width: 42.4%;
}

.order-color-title {
	opacity: 0.4;
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 46px;
	padding-top: 15px;
}

.order-color-name {
	font-size: 18px;
	border-bottom: 1px dotted #c5c5c5;
	margin: 0;
	display: inline-block;
	padding-top: 18px;
}

.order-color-name:hover {
	color: #f1a552;
	border-bottom: 1px dotted #f1a552;
}

.order-table {
	width: 100%;
}

th,
td {
	text-align: left;
	padding-left: 6px;
	box-sizing: border-box;
	vertical-align: middle;
}

th:nth-child(1),
td:nth-child(1) {
	opacity: 1;
	width: 4.6%;
}

th:nth-child(2),
td:nth-child(2) {
	width: 35%;
}

th:nth-child(3),
td:nth-child(3) {
	width: 9.3%;
	white-space: nowrap;
}

th:nth-child(4),
td:nth-child(4) {
	width: 14.7%;
}

th:nth-child(5),
td:nth-child(5) {
	width: 3%;
	padding: 0 0 7px 5px;
}

th {
	opacity: 0.4;
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 68px;
}

td {
	font-size: 16px;
	height: 48px;
	padding-left: 5px;
}

.checkbox-input {
	display: none;
}

.checkbox-span {
	height: 10px;
	width: 10px;
	border: 2px solid #d7d7d7;
	border-radius: 3px;
	display: block;
	position: relative;
	background-color: #FFF;
	padding: 3px;
}

.checkbox-span:hover {
	border: 2px solid #f1a552;
	cursor: pointer;
}

[type=checkbox]:checked + span:before {
	content: '';
	background-image: url(checked.png);
	width: 12px;
	height: 12px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	left: 2px;
	top: 4px;
}

.order-table-select {
	font-size: 16px;
	width: 94%;
	border-radius: 4px;
	border: 2px solid #d7d7d7;
	height: 31px;
	padding: 5px 20px 5px 5px;
}

.order-table-select:hover,
.order-table-input:hover {
	border: 2px solid #f1a552;
	cursor: pointer;
}

.order-table-select:focus,
.order-table-input:focus {
	outline: 2px solid #f1a552;
}

select {
	-webkit-appearance: none;
	background-image: url(select.png);
	background-position: 95%, 100%;
	background-repeat: no-repeat;
	background-size: 10px;

	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;
}

select::-ms-expand {
	display: none;
}

.order-table-input {
	font-size: 16px;
	height: 24px;
	width: 50px;
	border: 2px solid #d7d7d7;
	border-radius: 3px;
	text-align: center;
	/*	margin-left: 10px*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.order-table-delete {
	position: relative;
	opacity: 1;
}

.td-delete {
	background-image: url(delete.png);
	width: 12px;
	height: 12px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
}

.td-delete:hover {
	cursor: pointer;
	background-image: url(delete-hover.png);
}

.order-list-add {
	color: #f26c4f;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	margin: 0 auto;
	text-align: center;
}

.order-list-add-text {
	border-bottom: 1px dotted #f26c4f;
	display: inline-block;
}

.order-list-add-text:hover {
	color: #f1a552;
}

.order-list-add-text:hover {
	cursor: pointer;
}

/*правый*/

.order-menu {
	padding: 30px 0 0px 39px;
	flex-grow: 1;
	width: 27.3%;
	box-sizing: border-box;
}

.menu {
	padding: 0 0 19px 0;
	margin: 0;
}

.menu-item {
	list-style-type: none;
	line-height: 37px;
	position: relative;
}

.menu-item:first-child:before {
	content: "";
	position: absolute;
	background-image: url(menu-check.png);
	width: 12px;
	height: 12px;
	background-size: contain;
	background-repeat: no-repeat;
	left: -18px;
	top: 13px;
}

.menu-item-text {
	list-style-type: none;
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	border-bottom: 1px dotted #c5c5c5;
	padding: 13px 0 0 0;
	text-decoration: none;
}

.menu-item-text:hover {
	color: #f1a552;
	border-bottom: 1px dotted #f1a552;
}

.order-button {
	width: 160px;
	height: 55px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	background-color: #f1a552;
	border-radius: 6px;
	border-style: none;
	-webkit-box-shadow: 5px 5px 23px -8px rgba(239, 154, 62, 0.75);
	-moz-box-shadow: 5px 5px 23px -8px rgba(239, 154, 62, 0.75);
	box-shadow: 5px 5px 23px -8px rgba(239, 154, 62, 0.75);
}

.order-button:hover {
	-webkit-box-shadow: 2px 2px 11px -1px rgba(239, 154, 62, 0.75);
	-moz-box-shadow: 2px 2px 11px -1px rgba(239, 154, 62, 0.75);
	box-shadow: 2px 2px 11px -1px rgba(239, 154, 62, 0.75);
	background-color: #ef9a3e;
}

@media screen and (max-width: 830px) {
	.order-menu {
		min-width: 230px;
	}
	.order-list {
		margin: 0 auto;
		padding: 0 34px;
		width: 100%;
	}
	.td-delete {
		right: 0;
	}
	.order-color-common {
		padding-left: 0%;
		width: 27%;
	}
	.order-list-add {
		text-align: left;
		padding-left: 28%;
	}
}

@media screen and (max-width: 768px) {
	.order {
		display: block;
	}
	.menu {
		display: none;
	}
	.order-menu {

		margin: 0;
		padding-left: 30%;
	}
	.order-list:after {
		border-left: none;
	}
}

@media screen and (max-width: 530px) {
	.color-block {
		display: block;
	}
	.order-color-title {
		display: none;
	}
	.order-list-add {
		text-align: center;
		padding: 0;
	}
	.order-menu {
		width: 100%;
		text-align: center;
		padding: 10px 0 0 0;
	}
}

@media screen and (max-width: 395px) {
	.order-list {
		padding: 0 10px;
	}
	.order-list-add {
		text-align: center;
		padding: 0;
	}
}
